{{#if (eq lifecycle 'loaded')}}

  {{#each provider.features as |feature|}}
    {{service-feature serviceName=name feature=feature}}
  {{/each}}

{{else}}

  <span class="c-provider__name">
    {{name}}
  </span>

  <span class="c-provider__status">
    {{#if (eq lifecycle 'initializing')}}
      Loading...
    {{/if}}

    {{#if (eq lifecycle 'unknown')}}
      Error!
    {{/if}}
  </span>

{{/if}}
