<div class="c-provider-feature__mood">
  {{feature.status}}
</div>

<div class="c-provider-feature__name qa-feature__name" title="Feature ID {{identifier}}">
  {{feature.provider.displayName}} {{name}}
</div>
