{{#if (eq status 'loaded')}}

  {{#each features as |feature|}}
    {{service-feature serviceName=name feature=feature}}
  {{/each}}

{{else}}

  <span class="c-service__name">
    {{name}}
  </span>

  <span class="c-service__status">
    Loading...
  </span>

{{/if}}
