{{#if (eq lifecycle 'success')}}

  {{#each features as |feature|}}
    {{service-feature serviceName=name feature=feature}}
  {{/each}}

{{else}}

  <span class="c-service__name">
    {{name}}
  </span>

  <span class="c-service__status">
    {{#if (eq lifecycle 'loading')}}
      Loading...
    {{/if}}

    {{#if (eq lifecycle 'error')}}
      Error!
    {{/if}}
  </span>

{{/if}}
