.c-header
  margin-left: auto
  margin-right: auto
  width: 80%

  &__title
    @include scaled-margin-bottom
    @include scaled-font-size--huge
    font-weight: 300
    text-align: center
    font-color: $black
