<div class="c-provider-feature__mood" title="{{id}}">
  {{humanReadableMood}}
</div>

<div class="c-provider-feature__name">
  {{name}}
</div>

{{#if hasComment}}
  <div class="c-provider-feature__comment">
    {{comment}}
  </div>
{{/if}}
