<div class="c-menu">
  <!-- {{#link-to 'settings' class="c-menu__customize"}}Customize{{/link-to}} -->
</div>

<div class="c-header">
  <h1 class="c-header__title">Status</h1>
  <!-- Custom image goes here -->
</div>

{{outlet}}

<div class="c-providers">
  {{#each model as |provider|}}
    {{provider-group provider=provider}}
  {{/each}}
</div>
