<div class="c-menu">
  <div class="c-menu__customize">
    <a href="#">
      Customize
    </a>
  </div>
</div>

<div class="c-header">
  <h1 class="c-header__title">Status</h1>
  <!-- Custom image goes here -->
</div>

<div class="c-providers">
  {{#each model as |provider|}}
    {{provider-group provider=provider}}
  {{/each}}
</div>

{{outlet}}
