<div class="c-settings">
  <div class="c-settings__provider-list layout">
    {{#each model as |config|}}<!--
      -->{{provider-select config=config}}<!--
    -->{{/each}}

    {{outlet}}
  </div>
</div>

